* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}

.background {
    padding-left: 98px;
    padding-right: 98px;
}

div {
    box-sizing: border-box;
}

/*-----------Navigation menu-------------*/

.nav {
    background: #f5f5f5;
    height: 800px;
    background: url(/img/slider-img-min.jpg);
}

.logo {
    margin-top: 65px;
    float: left;
}

.menu {
    float: right;
}

.menu li {
    float: left;
    display: block;
    margin-right: 24px;
    margin-top: 63px;
}

.menu li a {
    color: #8c8c8c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat";
}

.menu li a:hover {
    border-bottom: 4px solid #8B0000;
}

/*-------------Title--------------*/

.title {
    margin-top: 226px;
}

.title-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.title-h2 {
    color: #212121;
    font-size: 55px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
}

.paragraph {
    width: 458px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    color: rgb(33, 33, 33);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: rgba(33, 33, 33, 0.35) 0px 2px 5px 1px;
    background-color: rgb(255, 255, 255);
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    letter-spacing: 3.6px;
    border-radius: 23px;
    text-decoration: none;
}

.button:hover, .button:active {
    background-color: #43a047;
    border-color: #43a047;
    color: #fff;
}

.active-circle {
    width: 1170px;
    height: 50px;
    text-align: center;
    position: absolute;
    margin-top: 95px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #c7c7c7;
    border-radius: 20px;
    display: inline-block;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-black {
    width: 40px;
    height: 40px;
    background-color: rgb(33, 33, 33);
    margin-bottom: 0;
}

/*-------------Content--------------*/

.content {
    height: 609px;
    background-color: #ffffff;
}

.featured-explore {
    padding-top: 125px;
}

.featured, .new {
    list-style-type: none;
    float: left;
}

.featured-line {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 11px;
    padding-bottom: 21px;
    border-bottom: 1px solid #212121;
}

.featured-line:hover {
    color: #212121;
}

.line-active {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    padding-left: 9px;
    padding-bottom: 19px;
    padding-right: 20px;
    border-bottom: 4px solid #212121;
}

.explore-hoover {
    float: right;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
    padding-right: 1px;
}

.explore-hoover:hover {
    color: #43a047;
}

.block-4 {
    list-style-type: none;
    margin-top: 70px;
}

.block {
    display: inline;
}

.block:nth-child(-n+3) {
    margin-right: 25px;
}

/*--------- Content 2 ---------*/

.content2 {
    height: 683px;
    display: flex;
}

.content2-paragraph-left {
    width: 683px;
    background: url(/img/promo-img1.jpg);
    padding-left: 75px;
    margin-left: -98px;
}

.content2-paragraph-right {
    width: 683px;
    background: url(/img/promo-img.jpg);
    padding-left: 75px;
    margin-right: -98px;
}

.title-exclusive {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 230px;
}

.fishnet {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-top: 15px;
}

.paragraph-content2 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgb(108, 108, 108);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/*------- Content 3------- */

.content3 {
    height: 1110px;
    background-color: #ffffff;
}

.trending-explore-3 {
    padding-top: 119px;
}

.trending-3, .products-3 {
    list-style-type: none;
    float: left;
}

.trending-line-3 {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 11px;
    padding-bottom: 21px;
}

.line-active-3 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    padding-left: 9px;
    padding-bottom: 19px;
    padding-right: 20px;
}

.explore-hoover-3 {
    float: right;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
    padding-right: 1px;
}

.explore-hoover-3:hover {
    color: #43a047;
}

.products-6 {
    margin-top: 64px;
    margin-left: 10px;
}

.img-2, .img-3, .img-5, .img-6 {
    margin-left: 20px;
}

.img-4 {
    margin-top: 20px;
}

/*------ content 4 -------*/

.content4 {
    height: 800px;
    background: url(/img/slider.jpg);
    position: relative;
}

.hotdeal {
    margin-left: 98px;
    padding-top: 226px;
}

.hot-deal {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.title-fishnet {
    color: #212121;
    font-size: 55px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
}

.paragraph4 {
    width: 458px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    color: rgb(33, 33, 33);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: rgba(33, 33, 33, 0.35) 0px 2px 5px 1px;
    background-color: rgb(255, 255, 255);
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    letter-spacing: 3.6px;
    border-radius: 23px;
    text-decoration: none;
}

.button:hover, .button:active {
    background-color: #43a047;
    border-color: #43a047;
    color: #fff;
}

.active-circle4 {
    width: 1170px;
    height: 50px;
    text-align: center;
    position: absolute;
    margin-top: 180px;
    margin-left: 95px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #c7c7c7;
    border-radius: 20px;
    display: inline-block;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-black {
    width: 40px;
    height: 40px;
    background-color: rgb(33, 33, 33);
    margin-bottom: 0;
}

/*-------- Content 5 -------*/

.content5 {
    height: 810px;
    display: flex;
}

.content5-paragraph-left {
    width: 570px;
    height: 556px;
    background: url(/img/product-1-lg.jpg);
    padding-left: 75px;
    margin-left: 98px;
    margin-top: 120px;
}

.title-exclusive5 {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 170px;
}

.fishnet5 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-top: 15px;
}

.paragraph-content5 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgb(108, 108, 108);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.products-img-5 {
    width: 585px;
    height: 570px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    justify-content: space-between;
    margin-top: 120px;
}

/*----------- Content 6-----------*/

.content6 {
    height: 516px;
    background: url(/img/back-img.jpg);
}

.mobil-app {
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #6c6c6c;
    letter-spacing: 1.8px;
    padding-top: 100px;
    padding-left: 98px;
}

.title-find-follow {
    color: #212121;
    font-size: 62px;
    font-weight: 300;
    line-height: 72px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 98px;
}

.paragraph6 {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 25px;
    padding-left: 98px;
}

.app-google {
    padding-left: 98px;
}

/*---------- Footer ----------*/

footer {
    height: 384px;
    background-color: #f7f7f7;
}

h3 {
    font-size: 18px;
    color: #6c6c6c;
    font-weight: 700;
    font-family: "Montserrat";
    letter-spacing: 2px;
    text-transform: uppercase;
}

.paragraph-style {
    font-size: 14px;
    color: #212121;
    font-family: "Montserrat";
    line-height: 22px;
    font-weight: 400;
    margin-top: 24px;
}

.email-footer {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.email-footer:hover {
    color: tomato;
}

.contact-us, .useful-information {
    float: left;
    margin-top: 70px;
}

.useful-information {
    margin-left: 70px;
}

.stay-touch {
    margin-top: 70px;
    float: right;
}

.sales-terms, .architect {
    display: inline-block;
    margin-top: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Montserrat";
    color: #212121;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 26px;
}

.architect {
    margin-left: 30px;
}

input:focus {
    outline: coral;
}

.form {
    width: 350px;
    height: 48px;
    background: url(/img/input.png) no-repeat 313px;
    background-color: #fff;
    border: 1px solid #d9dee1;
    color: #6c6c6c;
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    padding-left: 15px;
    text-align: left;
}

.footer-back {
    margin-top: 50px;
    display: inline-block;
    height: 28px;
    width: 100%;
}

.copyright {
    float: left;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #6c6c6c;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
}

.icons {
    float: left;
    color: #6c6c6c;
    margin-left: 120px;
    letter-spacing: 5.6px;
}

.privacy {
    float: right;
    height: 12px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #6c6c6c;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
}